.contentContainer {
    margin: 1em 30em;
    padding: 1em;
    text-align: center;
}

.contentContainer > h2 {
    padding: 0.5em;
    text-decoration: underline;
}

.postContainer { 
    background-color: white;
    text-align: justify;   
    padding: 1em;
    box-shadow: -3px 3px black;
    margin: 1em auto;
    width: 80%;
    line-height: 1.5;
}

.commentsContainer {
    margin: 0 30em;
    border-radius: 10px;
    padding: 20px;
}

.commentsContainer > h3 {
    text-align: center;
}

.commentsContainer > div {
    padding: 1em;
}

.comment {
    display: flex;
    background-color: white;
    box-shadow: -3px 3px black;
    border-radius: 10px;
    border:1px solid gray;
    padding: 1em;   
    margin: 1em;
}

.comment > div {
    flex-grow: 1;
}

hr {
    margin: 0em 30em;
}